.aboutme {
  height: 100vh;
  width: 100%;

  .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    @include large {
      flex-direction: column-reverse;
    }
  }

  @include large {
    height: auto;
    flex-direction: column-reverse;
  }

  // Left Container
  &__leftContainer {
    flex: 2;
    padding: 6rem 2rem;

    // About me paragraph
    .aboutme__text {
      margin-top: 2rem;

      @include large {
        text-align: center;
      }

      h1 {
        margin: 1rem 0;
        font-family: $font-noto;
        color: $primary-color;
        font-style: italic;
        font-size: 2rem;

        @include small {
          font-size: 1.5rem;
        }
      }

      p {
        color: rgba(0, 0, 0, 0.6);
        line-height: 1.8;
        font-family: $font-raleway;

        @include small {
          font-size: small;
        }
      }
    }

    // Skills section
    .aboutme__skills {
      margin: 3rem 0;

      @include small {
        text-align: center;
      }

      h4 {
        font-family: $font-noto;
        font-style: italic;
        font-size: 2rem;
        color: $primary-color;
        margin: 1rem 0;

        @include small {
          font-size: 1.5rem;
        }
      }

      img {
        margin: 1rem 1rem 0 0;
      }
    }
  }

  // Right Container
  &__rightContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
      width: 70%;
      box-shadow: 5px 10px 30px rgba($primary-color, 0.275);

      @include large {
        width: 40%;
      }

      @include medium {
        width: 50%;
      }

      @include small {
        width: 60%;
      }
    }
  }
}
