.btn__primary {
  padding: 12px 16px;
  border-radius: 8px;
  background: $primary-color;
  color: #fff;
  text-decoration: none;
  font-family: $font-raleway;
  border: none;
  transition: all 0.4s;
  box-shadow: 0 2px 20px rgba(18, 25, 37, 0.32);
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 20px rgba(18, 25, 37, 0.49);
    background: lighten($primary-color, 10%);
  }
}
