.btn__primary {
  padding: 12px 16px;
  background: transparent;
  color: $primary-color;
  text-decoration: none;
  font-family: $font-raleway;
  border: 2px solid $primary-color;
  transition: all 0.4s;
  box-shadow: 0 2px 20px rgba(18, 25, 37, 0.1);
  cursor: pointer;
  font-weight: 600;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: all 0.4s;
    background: linear-gradient(
      to bottom right,
      lighten($primary-color, 20%),
      darken($primary-color, 40%)
    );
  }

  &:hover {
    color: #fff;
    box-shadow: 0 4px 20px rgba(18, 25, 37, 0.3);
  }

  &:hover::before {
    width: 100%;
  }

  // If the button has any SVG, then vertically align it in the middle
  svg {
    vertical-align: middle;
  }
}
