@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// All colors below
$primary-color: #151e2c;
$secondary-color: #fff;

$font-noto: "Noto Serif", serif;
$font-raleway: "Raleway", sans-serif;

// All Global styles below

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

::selection {
  color: #fff;
  background-color: lighten($primary-color, 40%);
}

@mixin large {
  @media screen and (max-width: 900px) {
    @content;
  }
}

// Media queries below
@mixin medium {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 580px) {
    @content;
  }
}
