footer {
  background: $primary-color;
  font-family: $font-raleway;
  padding: 1rem 2rem;
  color: #fff;

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  h2 {
    font-weight: normal;
    margin-bottom: 1rem;
  }

  a {
    color: #eee;
    margin-right: 12px;
    transition: all 0.4s;

    &:visited {
      color: #fff;
    }

    &:hover {
      color: #fff;
    }
  }
}
