.hero__section {
  height: 100vh;
  width: 100%;

  // Container for hero section

  .container {
    width: 80%;
    margin: -3rem auto 0 auto;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // Header in hero section

  header {
    margin: 0 0 2rem 0;

    h4 {
      color: lighten($primary-color, 10%);
      font-family: $font-raleway;

      @include small {
        text-align: center;
      }
    }

    h1 {
      color: $primary-color;
      font-family: $font-noto;
      font-size: 3.5rem;

      @include small {
        text-align: center;
        font-size: 2.5rem;
      }
    }

    p {
      color: lighten($primary-color, 20%);
      font-family: $font-raleway;
      font-weight: normal;
      width: 50%;
      line-height: 1.6;

      @include large {
        width: 70%;
      }

      @include medium {
        width: 80%;
      }

      @include small {
        text-align: center;
        width: 100%;
      }
    }
  }

  // CTA section
  .hero__actions {
    margin-top: 2rem;

    @include small {
      margin: 1rem auto;
    }
  }

  // CTA buttons in hero section
  .hero__actions a {
    margin-right: 12px;
  }
}
