nav {
  width: 100%;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 11;

  .container {
    width: 70%;
    margin: auto;
    overflow: hidden;

    // Menu list inside container
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;

      a {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-family: $font-raleway;
        transition: all 0.4s;

        &:hover {
          color: #000;
        }
      }
    }

    // hide container ul on smaller screens (580px)
    @include small {
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        height: 0vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: -100%;
        left: 0%;
        right: 0;
        background-color: $primary-color;
        z-index: 3;
        transition: all 0.4s;

        &.visible {
          padding: 6rem 0;
          position: absolute;
          top: 0%;
          height: 100vh;
        }

        a {
          color: #fff;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

.nav__menuToggler {
  position: relative;
  z-index: 20;
  display: none;
  width: 35px;
  height: 35px;
  cursor: pointer;

  @include small {
    display: inline-block;
  }

  div {
    width: 100%;
    height: 3px;
    background-color: $primary-color;
    margin: 6px 0;
    transition: 0.4s;
  }

  // To make the hamburger to cross icon

  &.cross {
    div:nth-child(1) {
      background: #fff;
      -webkit-transform: rotate(-45deg) translate(-5px, 5px);
      transform: rotate(-45deg) translate(-5px, 5px);
    }

    div:nth-child(2) {
      background: #fff;
      -webkit-transform: rotate(45deg) translate(0px, -3px);
      transform: rotate(45deg) translate(0, -3px);
    }
  }
}
