.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 6rem;
    font-family: $font-noto;
    color: $primary-color;
    font-size: 2rem;

    @include small {
      font-size: 1.5rem;
    }
  }

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  .projects__grid {
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    & > div {
      flex: 0 1 1;
    }
  }

  .project {
    margin: 0.5rem;
    width: 300px;
    height: 300px;
    position: relative;
    transition: all 0.4s;
    box-shadow: 5px 5px 30px rgba($primary-color, 0.15);
    background: #fff;
    text-decoration: none;

    // Project sample image
    img {
      width: 100%;
      object-fit: cover;
    }

    // Project details
    .project__details {
      padding: 0.8rem;

      h4 {
        color: $primary-color;
        font-family: $font-raleway;
      }
    }

    // Project links
    .project__links {
      padding: 0 0 0.8rem 0.8rem;
      font-size: small;

      a {
        cursor: pointer;
        transition: all 0.4s;
        font-family: $font-raleway;
        margin-right: 12px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.8);

        &:hover {
          text-decoration: underline;
        }

        svg {
          vertical-align: middle;
        }
      }
    }

    // Scale project to 1.1x on hover
    &:hover {
      transform: scale(1.051);
    }
  }
}
