.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 6rem;
    font-family: $font-noto;
    color: $primary-color;
    font-style: italic;
    font-size: 2rem;

    @include small {
      font-size: 1.5rem;
    }
  }

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  .projects__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 1rem;
  }

  .project {
    position: relative;
    transition: all 0.4s;

    // Project sample image
    img {
      width: 100%;
      position: relative;
    }

    // Project details on hover
    .project__details {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to bottom right,
        $primary-color,
        lighten($primary-color, 20%)
      );
      color: #fff;
      font-family: $font-raleway;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      transition: all 0.4s;
    }

    // Show .project__details on hover
    &:hover .project__details {
      opacity: 0.7;
    }

    // Scale project to 1.1x on hover
    &:hover {
      transform: scale(1.051);
    }
  }
}
