.project__page {
  height: auto;
  width: 100%;

  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 4rem 0;

    @include small {
      width: 90%;
    }
  }

  .back__btn {
    color: $primary-color;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: $font-raleway;

    span {
      opacity: 0;
      transition: all 0.4s;
    }

    // On hover, reveal left arrow
    &:hover span {
      margin-right: 12px;
      opacity: 1;
    }

    // Back btn media queries
    @include small {
      font-size: small;
    }
  }

  .header__img {
    margin-top: 1rem;
    text-align: center;

    img {
      width: 100%;
    }
  }

  .project__details {
    width: 80%;
    margin: -4rem auto;
    position: relative;
    z-index: 2;
    background: #fff;
    box-shadow: 2px 4px 40px rgba($primary-color, 0.112);
    padding: 2rem 4rem;
    border-radius: 6px;

    h1 {
      font-family: $font-noto;
      font-style: italic;
      color: $primary-color;
      margin-bottom: 1rem;

      @include small {
        font-size: 1.3rem;
      }
    }

    .project__urls {
      margin-top: 2.5rem;
    }

    .project__url {
      color: $primary-color;
      font-family: $font-raleway;
      font-weight: 400;
      margin-right: 12px;

      @include small {
        display: block;
        margin: 1rem 0;
        font-size: small;
      }
    }

    .project__blockContent {
      margin: 2rem 0;
      font-family: $font-raleway;
      color: rgba(0, 0, 0, 0.8);
      line-height: 1.6;
    }

    // Block content headings
    h2,
    h3 {
      margin: 0.7rem 0;
      display: block;
    }

    // Block content images
    figure img {
      width: 100%;
    }

    // Block content links
    a {
      color: $primary-color;
    }

    // Media queries for .project__details
    @include small {
      padding: 2rem;
      width: 100%;
      margin: 0;
    }
  }

  .project__authorDetails {
    margin: 1rem 0;

    .author {
      display: flex;
      align-items: center;

      img {
        margin-right: 12px;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: cover;
      }

      h5 {
        font-weight: normal;
        color: gray;
        font-family: $font-raleway;

        span {
          color: #333;
        }
      }
    }
  }

  hr {
    height: 1px;
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.3);
  }
}
.project__loader {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
