@import "config";
@import "buttons";
@import "home";
@import "navbar";
@import "aboutme";
@import "education";
@import "projects";
@import "project";
@import "blogposts";
@import "contact";
@import 'footer';