.education {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    lighten($primary-color, 10%),
    darken($primary-color, 20%)
  );

  h1 {
    font-family: $font-noto;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;

    @include small {
      font-size: 1.5rem;
    }
  }

  .container {
    width: 60%;

    @include medium {
      width: 80%;
    }

    @include small {
      width: 80%;
      margin: 0 auto;
      overflow: hidden;
    }
  }

  .step {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: cream;
  }

  .v-stepper {
    z-index: 1;
    position: relative;
    /*   visibility: visible; */
  }

  .step .line {
    top: 21px;
    left: 9px;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .step.completed .circle {
    border: 3px solid $primary-color;
    border-radius: 100%;
    width: 20px; /* +6 for border */
    height: 20px;
    display: inline-block;
    visibility: visible;
    background-color: #fff;
  }

  .step.completed .line {
    border-left: 2px solid #fff;
  }

  .content {
    margin-left: 20px;
    display: inline-block;
  }
}

.step .content .content__heading {
  h2 {
    color: #fff;
    font-family: $font-raleway;
    font-size: 1.3rem;
    margin-bottom: 0.7rem;

    @include small {
      font-size: 1rem;
    }
  }

  p {
    color: #ddd;
    font-family: $font-raleway;
  }
}
