footer {
  background: linear-gradient(
    to bottom right,
    lighten($primary-color, 10%),
    darken($primary-color, 20%)
  );
  font-family: $font-raleway;
  color: #fff;

  @include small {
    text-align: center;
  }

  .container {
    padding: 1rem 2rem;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  h2 {
    font-weight: normal;
    margin-bottom: 1rem;

    @include small {
      font-size: 1.2rem;
    }
  }

  a {
    color: #eee;
    margin-right: 12px;
    transition: all 0.4s;

    &:visited {
      color: #fff;
    }

    &:hover {
      color: #fff;
    }
  }
}

.mark {
  padding: 10px;
  text-align: center;
  color: #fff;
  background: darken($primary-color, 5%);
  margin: 1rem 0 0 0;
}
