.skills__section {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;

  .container {
    text-align: center;
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  h1 {
    margin-top: 3rem;
    text-align: center;
    font-family: $font-noto;
    font-size: 2rem;
    color: $primary-color;
  }

  .skills__leftContainer,
  .skills__rightContainer {
    flex: 0 1 1;
  }

  .skill {
    margin: 2.5rem 0;

    h4 {
      color: $primary-color;
      font-family: $font-raleway;
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    img {
      margin-right: 20px;
    }
  }
}
