.about {
  width: 100%;

  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
  }

  .hero-content {
    flex: 1;

    .header {
      margin-top: 100px;
      margin-bottom: 30px;

      h1 {
        position: relative;
        width: -moz-fit-content;
        font-family: "Abril Fatface", serif;
        color: #303030;
        font-size: 300%;

        .h1-inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
          width: 100%;
          background: #303030;
          transform-origin: right;
          transform: scaleX(1);
        }
      }
    }

    p {
      font-family: "Alegreya", sans-serif;
      line-height: 1.6;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .hero {
    flex: 1;
    position: relative;

    .hero-image {
      opacity: 0;
    }

    img {
      width: 80%;
      height: 100%;
      margin-left: 100px;
    }
  }
}
