@import "config";

.about {
  width: 100%;
  height: auto;

  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;

    @include tablet {
      flex-direction: column-reverse;
    }
  }

  .hero-content {
    flex: 1;

    .header {
      @include tablet {
        margin-top: 10px;
      }

      margin-top: 100px;
      margin-bottom: 30px;
    }

    h1 {
      font-family: "Abril Fatface", sans-serif;
      font-size: 300%;
      color: #303030;

      @include mobileL {
        text-align: center;
      }

      .h1-inner {
        position: relative;
        overflow: hidden;
      }
    }

    p {
      font-family: "Alegreya", sans-serif;
      line-height: 1.6;
      color: rgba(0, 0, 0, 0.6);

      @include mobileL {
        text-align: center;
      }
    }
  }

  .hero {
    flex: 1;
    position: relative;

    @include mobileL {
      text-align: center;
    }

    .hero-image {
      opacity: 0;
    }

    img {
      width: 80%;
      height: 80%;
      object-fit: cover;
      margin-left: 100px;

      @include tablet {
        margin-left: 0;
        height: 200px !important;
        width: 200px !important;
        border-radius: 100%;
      }
    }
  }
}

.skills {
  .container {
    width: 90%;
    margin: auto;
    padding: 50px 0;
  }

  h1 {
    font-family: "Abril Fatface", sans-serif;
    font-size: 300%;
    color: #303030;

    @include mobileL {
      text-align: center;
    }

    .h1-inner {
      position: relative;
      overflow: hidden;
    }
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    margin-top: 30px;
  }

  .skills-container {
    margin: 2em 0;
    text-align: center;

    h4 {
      margin-bottom: 30px;
      color: #303030;
      font-family: "Alegreya Sans", sans-serif;
    }

    img {
      margin-right: 30px;
    }
  }
}
