@import "config";

.post {
  width: 100%;
  background: #000;
}

.container {
  width: 90%;
  margin: auto;

  header {
    img {
      width: 100%;
    }

    h1 {
      font-family: "Abril Fatface", serif;
      margin: 30px 0 20px 0;
      font-size: 300%;
      color: #fff;

      @include mobileL {
        font-size: 200%;
      }
    }

    .tags {
      small {
        color: #ddd;
        margin-right: 10px;
        font-family: "Poppins", sans-serif;
      }
    }

    .created-at {
      margin: 10px 0;
      display: flex;
      align-items: center;
      color: #ddd;
      margin-right: 10px;
      font-family: "Poppins", sans-serif;

      img {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin-right: 10px;
      }
    }
  }

  .post-body {
    margin-top: 30px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
      font-family: "Abril Fatface", serif;
      margin: 1em 0;
    }

    p {
      color: #fff;
      font-family: "Poppins", sans-serif;
      line-height: 1.6;
      margin: 0.5em 0;
      display: inline-block;
    }

    a {
      color: #fff;
    }

    pre code {
      margin: 2em 0;
    }

    img {
      width: 100%;
      margin: 1em 0;
    }
  }
}
