.post {
  width: 100%;
  background: #000;
}

.container {
  width: 90%;
  margin: auto;

  header {
    img {
      width: 100%;
    }

    h1 {
      font-family: "Abril Fatface", serif;
      margin: 30px 0;
      font-size: 300%;
      color: #fff;
    }
  }

  .post-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
      font-family: "Abril Fatface", serif;
      margin: 1em 0;
    }

    p {
      color: #fff;
      font-family: "Poppins", sans-serif;
      line-height: 1.6;
      margin: 0.5em 0;
      display: block;
    }

    img {
      width: 100%;
      margin: 1em 0;
    }
  }
}
