.container {
  width: 90%;
  margin: auto;

  header {
    img {
      width: 100%;
    }

    h1 {
      font-family: "Abril Fatface", serif;
      margin: 30px 0;
      font-size: 300%;
    }
  }

  .post {
  }
}
