@import "config";

.post {
  width: 100vw;
  background: #000;
}

.go-back-btn {
  margin: 30px 0;
  display: inline-block;
  padding: 16px 24px;
  background: #fff;
  font-family: "Poppins", sans-serif;
  color: #000;
  cursor: pointer;
  text-decoration: none;

  @include mobileL {
    padding: 8px 15px;
    left: 1.2em;
  }
}

.header {
  img {
    width: 100%;
  }

  .container {
    width: 90%;
    margin: auto;
  }

  h1 {
    font-family: "Abril Fatface", serif;
    margin: 30px 0 20px 0;
    font-size: 300%;
    color: #fff;

    @include mobileL {
      font-size: 200%;
    }
  }

  .tags {
    small {
      color: #ddd;
      margin-right: 10px;
      font-family: "Poppins", sans-serif;
    }
  }

  .created-at {
    margin: 10px 0;
    display: flex;
    align-items: center;
    color: #ddd;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;

    img {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin-right: 10px;
    }
  }
}

.container {
  width: 90%;
  margin: auto;

  // Markdown Content

  .post-body {
    margin-top: 30px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
      font-family: "Abril Fatface", serif;
      margin: 1em 0;
    }

    p {
      color: #fff;
      font-family: "Poppins", sans-serif;
      line-height: 1.6;
      margin: 0.5em 0;
      display: inline-block;
    }

    a {
      color: #fff;
    }

    p code {
      background: #444;
      padding: 5px;
      font-family: "Operator Mono", sans-serif;
    }

    pre code,
    pre {
      margin: 2em 0;
      font-family: "Operator Mono", sans-serif;
    }

    img {
      width: 100%;
      margin: 1em 0;
    }

    p a {
      display: inline-block;
    }

    ol,
    ul {
      color: #fff;
      font-family: "Poppins", sans-serif;
      line-height: 1.6;
      margin: 0.5em 0;
      display: inline-block;
    }
  }
}
