@import "config";

.btn-primary {
  padding: 20px 34px;
  cursor: pointer;
  border: 3px solid #fff;
  background: #000;
  font-size: 1em;
  transition: all 0.4s;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-family: "Alegreya Sans", sans-serif;

  @include mobileL {
    padding: 1rem;
  }
}
