.btn-primary {
  padding: 20px 34px;
  cursor: pointer;
  border: 3px solid #303030;
  background: #fff;
  font-size: 1em;
  transition: all 0.4s;
  text-decoration: none;
  color: #303030;
  display: block;
  font-family: "Alegreya Sans", sans-serif;
}
