@import "config";

.btn-primary {
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  background: #121212;
  transition: all 0.4s;
  color: #fff;
  padding: 12px 30px;
  width: 232px;
  text-align: center;
  display: block;
  font-family: "Alegreya Sans", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 2.9px 2.2px rgba(0, 0, 0, 0.025),
    0 6.9px 5.3px rgba(0, 0, 0, 0.036), 0 13px 10px rgba(0, 0, 0, 0.045);
}
