@import "config";

.home {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-bg {
    position: fixed;
    z-index: -1;
    bottom: 0;
    width: 100%;
    object-fit: cover;
  }
}

.small-header {
  h5 {
    position: relative;
    overflow: hidden;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 200%;

    @media screen and (max-width: 500px) {
      font-size: 100%;
    }

    span {
      text-transform: uppercase;
      font-weight: bolder;
    }
  }
}

.header {
  h1 {
    font-size: 500%;
    font-weight: bold;
    font-family: 'Anton', sans-serif;

    @include tablet {
      font-size: 350%;
    }

    @media screen and (max-width: 500px) {
      font-size: 200%;
    }

    span {
      margin: 0 4px;
      text-transform: uppercase;
    }
  }
}

.hero-text {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Alegreya Sans", sans-serif;
  text-transform: uppercase;
  margin-top: 1em;
  text-align: center;
}

.hero-actions {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  width: 40%;

  @include tablet {
    width: 80%;
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
    align-items: center;

    a {
      width: 100%;
      margin-bottom: 1em;
    }
  }
}

.social-links {
  margin-top: 2em;

  a {
    margin-right: 20px;

    svg {
      transition: all 0.4s;
      fill: rgba(0, 0, 0, 0.6);

      &:hover {
        fill: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
