.projects-intro-section {
  height: 100vh;
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;

  h1 {
    font-family: "Abril Fatface", serif;
    font-size: 400%;
    color: #303030;

    .h1-inner {
      position: relative;
      overflow: hidden;
    }
  }

  p {
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Alegreya Sans", sans-serif;
    line-height: 1.6;

    .p-inner {
      position: relative;
      overflow: hidden;
    }
  }
}

.projects-section {
  height: 100vh;
  width: 100%;

  .projects {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
