.projects-intro-section {
  padding-bottom: 12em;
  width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;

  h1 {
    font-family: "Abril Fatface", serif;
    font-size: 400%;
    color: #303030;

    @media screen and (max-width: 600px) {
      font-size: 300%;
    }

    @media screen and (max-width: 450px) {
      font-size: 150%;
      text-align: center;
    }

    .h1-inner {
      position: relative;
      overflow: hidden;
    }
  }

  p {
    margin-top: 2rem;
    color: #303030;
    font-family: "Alegreya Sans", sans-serif;
    line-height: 1.6;

    @media screen and (max-width: 450px) {
      text-align: center;
    }

    .p-inner {
      position: relative;
      overflow: hidden;
    }
  }
}

.projects-section {
  width: 100%;

  .projects {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
